*{
    margin: 0;
    padding: 0;
}
.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Images/backgroundMenu.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
    transform: scale(1.1);
    z-index: -1;
}
header div{
    margin: auto;
    align-items: center;
    background-color: rgb(215, 255, 196);
    justify-content: space-between;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    font-size:xx-large;
    text-decoration: none;
    padding: 0.3% 2% 0.3% 2%;
}
main{
    margin: 2% 35% 2% 35%;
}
#Login{
    font-size:120%;
    text-align: center;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 1%;
}

#LOGIN{
    padding: 2%;
}

#ESCOLA{
    padding: 2%;
}

#IDADE{
    padding: 2%;
}

#BemVindo{
    font-size:200%;
    justify-content: center;
}
.playButton{
    margin: 1% 15% 1% 15%;
    padding: 1.5%;
    background-color: rgb(144, 205, 233);
    font-size: 150%;
    border-radius: 7px;
}
.playButton a{
    text-decoration: none;
    color: red;
}
