        /*
        
        body{
            margin: 0;
            overflow: hidden;
            font-family: Arial, sans-serif;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
            */

        .background{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("../Images/backgroundMenu.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            filter: blur(5px);
            transform: scale(1.1);
            z-index: -1;
        }

        .card{
            height: 90%;
            width: 40%;
            padding: 30px;
            margin: 3% auto;
            background: white;
            border-radius: 20px;
            text-align: center;
            box-shadow: 0 0 20px rgba(0,0,0,0.3);
        }

        .title{
            width: 90%;
            margin: auto;
            background: #93FBFF;
            border-radius: 20px;
            text-align: center;
            box-shadow: 0 0 20px rgba(0,0,0,0.3);
        }

         .image{
            height: 60%;
            width: 60%;
            margin: auto;
        }

        .card-cores{
            width: 10%;
            height: 10%;
            border: 2px solid black;
            border-radius: 15px;
            padding: 10%;
            margin: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
            text-align: center;
        }