body{
    overflow: hidden;
}
.background{
    height: calc(100vh - 0px);
    background-image: url('../Images/TelasFinais/PatoMizeravel.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.FinalMedio{
    height: calc(100vh - 0px);
    background-image: url('../Images/TelasFinais/PatoMedia.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#FinalBom{
    height: calc(100vh - 0px);
    background-image: url('../Images/TelasFinais/PatoBom.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.botao-voltar{
    position: absolute;

    bottom: 40px;
    left: 50%;

    transform: translateX(-50%);

    padding: 25px 40px;

    background-color: #2b8eff;
    color: white;

    text-decoration: none;

    font-size: 40px;
    font-weight: bold;

    border-radius: 30px;

    transition: 0.3s;
}

.botao-voltar:hover{
    background-color: #2b8eff;
    transform: translateX(-50%) scale(1.05);
}