body{
    overflow: hidden;
}
    .background{
        height: calc(100vh - 0px);

        background-image: url('../Images/TelasFinais/PatoMizeravel.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }